.btn {
  margin-top: 20px;
  background-color: rgb(15, 121, 29);
  color: white;
}

.container {
  padding: 20px;
  padding-bottom: 500px;
  background-color: white;
}

h3 {
  display: none;
}

#crust {
  width:300px;
}

#topping {
  width:300px;
}

#size {
  width:300px;
}

body {
  background-color: rgb(209, 0, 0);
}

h2 {
  text-align: center;
  padding: 20px;
}